<ion-content>
    <ion-slides pager="true" [options]="slideOpt">

        <ion-slide>
            <ion-icon name="alarm-outline"></ion-icon>
            <h1>FULLSOLUTION</h1>
            <h2>ONU XPON</h2>
            <img src="{{JpgBase64.OnuClient}}" alt="">
            <P>ONU XPON FD-HG8410C 1GE+3FE+WIFI 2.4G 5 dBi+CATV 1GE+3FE+WIFI 2.4G 5 dBi+CATV Dual EPON/GPON DL (↓) 2.5 Gbps UL (↑) 1.25Gbps WLAN IEEE 802.11 b/g/n (2T2R)</P>
        </ion-slide>

        <ion-slide>
            <ion-icon name="alarm-outline"></ion-icon>
            <h1>FULLSOLUTION</h1>
            <h2>PATCH CORD</h2>
            <img src="{{JpgBase64.PathCord}}" alt="">

            <p> Cable de conexión también llamado cable de red, se usa en redes de computadoras o sistemas informáticos o electrónicos para conectar un dispositivo electrónico con otro.Está compuesto por cobre y cubierto de plástico. </p>
        </ion-slide>

        <ion-slide>
            <ion-icon name="alarm-outline"></ion-icon>
            <h1>FULLSOLUTION</h1>
            <h2>AMPLIFICADOR OPTICO</h2>
            <img src="{{JpgBase64.AmpOptical}}" alt=" ">
            <P>YEDFA 16 X 22dBm+WDM SCAPC-SCUPC Chasis 2U 16 Canales x 22 dBm BUILT-IN WDM SCAPC-SCUPC
            </P>
        </ion-slide>

    </ion-slides>
</ion-content>