<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <strong>Ready to create an app?</strong>
        <p>HOLA MUNDO</p>
        <!-- <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p> -->

        <ion-button>Default</ion-button>
        <ion-button [disabled]="true">Disabled</ion-button>

        <ion-fab>
            <ion-fab-button>
                <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
        <br><br>
        <ion-button (click)="presentPopover($event)">Click Me</ion-button>
        <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
            <ng-template>
                <ion-content class="ion-padding">Hello World!</ion-content>
            </ng-template>
        </ion-popover>
    </div>

</ion-content>