ion-slides {
    background-color: var(--full-solution-color-primary);
    height: 100%;
    max-width: 800px;
}

.swiper-slide {
    display: block;
    background-color: var(--full-solution-color-primary);
}

ion-slide>h1,
h2 {
    color: var( --full-solution-color-h1);
}

ion-slide>p {
    font-style: italic;
    font-size: 22px;
    border: solid;
    border-color: var(--full-solution-color-secondary);
    padding: 10px 10px 10px 10px;
}